.Countries {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 90px;
    padding: 1rem;
}

@media screen and (min-width: 1000px) {
    .Countries {
        padding: 0rem 5rem;
    }
}

.country-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 380px;
    min-height: 370px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px hsl(0, 0%, 0%);
}

.country-flag {
    flex-grow: 1;
}

.country-flag > img {
    border-radius: 5px 5px 0px 0px;
}

.country-stats {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 2rem;
}

.country-stats > ul > li > span {
    font-weight: 700;
}

.country-stats > ul > li + li {
    margin-top: 1rem;
}