.Detail {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    padding: 1rem;
}

@media screen and (min-width: 1000px) {
    .Detail {
        padding: 0rem 5rem;
    }
}

.Detail a {
    color: black;
}

.back {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 1rem 0rem;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px hsl(0, 0%, 0%);
}

.back > img {
    width: 30px;
    margin-top: 4px;
}

.back > p {
    font-weight: 700;
}

.country-detail {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 100px;
}

@media screen and (min-width: 1000px) {
    .country-detail {
        flex-direction: row;
        justify-content: space-between;
    }
}

.detail-flag-wrapper, .detail-stats-wrapper {
    flex-grow: 1;
}

.detail-flag-wrapper {
    width: min(100%, 500px);
}

.detail-stats-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 350px;
    gap: 50px;
}

.detail-stats {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

@media screen and (min-width: 1000px) {
    .detail-stats {
        flex-direction: row;
        gap: 100px;
    }
}

.detail-stats > ul > li > span {
    font-weight: 700;
}

.detail-stats > ul > li + li {
    margin-top: 1rem;
}

.border-countries {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media screen and (min-width: 1000px) {
    .border-countries {
        flex-direction: row;
        align-items: center;
    }
}

.border-countries > ul {
    display: flex;
    gap: 10px;
}

.border-country {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    min-width: 50px;
    border: 1px solid hsl(0, 0%, 50%);
    border-radius: 10px;
}