* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --darkBlue: hsl(209, 23%, 22%);
  --veryDarkBlue: hsl(207, 26%, 17%);
  --veryDarkBlue: hsl(200, 15%, 8%);
  --darkGray: hsl(0, 0%, 52%);
  --veryLightGray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  object-fit: cover;
}

h1 {
  font-size: clamp(2rem, 3vw, 3rem);
}

h2 {
  font-size: clamp(2rem, 2.3vw, 2.3rem);
}

p, a, li {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.App, .Home {
  display: flex;
  flex-direction: column;
  gap: 50px;
}