.Search {
    width: 100%;
}

.Search > form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    padding: 2rem 5rem;
}

@media screen and (min-width: 1000px) {
    .Search > form {
        flex-direction: row;
    }
}

.search-col {
    position: relative;
    display: flex;
    align-items: center;
}

.search-col > img {
    position: absolute;
    width: 15px;
    left: 20px;
}

.search-col > input, .search-col > select {
    min-height: 50px;
    padding: 0rem 5rem;
    border-radius: 5px;
}